
@media screen and (max-width: 1400px) {
 
  .nextSection {
    height: 400vh;
  }


  #social {
    top: 32%;
    height: 30vh;
    justify-content: space-evenly;
  }
  
  #mailLink {
    top: 32%;
    height: 30vh;
  }

  #page0 {
    height:10vh;
  }

  #page1 {
  height:20vh;
}

#corpus {
  justify-content: space-between;
  font-size: small;

}

#leftCorpus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#apropos {
  justify-content: space-around;
  height: 70%;
}

#photoProfil2 {
  height: 15vh;
  width: 15vh;
}

#cadre {
  height: 15vh;
  width: 15vh;
  top: -95%;
  left: 8%;
}

#page2 {
  height: 20vh;
}

#xpDesc {
  height: 50%;
}


#xpTasks {
  height: 50%;
}

#page3 {
  height: 25vh;
  width: 55vw;
  margin-bottom: 5%;
}

#reaAff {
  height:30vh;
}

#cadreIll {
  height: 15vh;
  width: 20vh;
}
#reaTech {
  
  height:10vh;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  width:100%
}

#reaDoc {
  height: 44%;
  top: -52%;
}

#realines{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#reaText {
  font-size: small;
  color: #c1cbeb66;

}



#page4 {
  height: 10vh;
  margin-bottom: 10%;
}

.dip {
  padding: 15px;
}

#page5 {
  font-size: large;
  width: 55vw;
  background-color: #0a192f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
}



#messageAccroche {
  margin-bottom: 5%;
  font-size: xx-large;
  color: white;
}

#texteContact {
 
  font-size:medium;
}

#cadreButton {
  margin-bottom: 5%;
}

#resume2 {
  border: 1px solid #61dafb;
  border-radius: 5px;
  color: #61dafb;
  height: 30px;
  width: 25%;
  align-content: center;
  align-self: center;
  vertical-align: middle;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}



}