.App {
  text-align: center;
}

body{
  width: 100%;

}


.nextSection{
  display: flex;
  width:100vw;
  background-color: #0A192F;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width:100%;
  align-items: center;

}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  font-size: 10vw;

  height:100vh;
  width:70%;
  background-color: #0A192F;
}

#navBar{
  background-color:#0A192F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  position: fixed;
  top:0;
  z-index: 11;
  width: 100%;
  height: var(--nav-height);
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);
  transition: var(--transition);
  
}

.ligneSommaire{
  display:inline;
  margin-left: 10px;
  font-size: small;
  color: #C1CBEB;
}

.ligneSommaire:hover{
  color: #61DAFB;
}

.buttonMenu{
  color: #61DAFB;


}
#homeLogo{
  margin-left: 3%;
  color: #61DAFB; 
}

#blocDroitNav{
  display: flex;
  flex-direction: row;
  margin-right: 3%;
  justify-content: space-evenly;
  width: 50%;


}
#resume{
  border: 1px solid #61DAFB;
  border-radius: 5px;
  color: #61DAFB; 
  height: 30px;
  width: 20%;
  align-content: center;
  align-self:center;
  padding-top: 5px;

}

.finbarre{
  
  height:50%;
  width: 1%;
  border:1px solid #C1CBEB;;
  align-self: center;
  

}

#social{
  position: fixed;
  bottom:0;
  left: 3%;
  display:flex;
  flex-direction: column;
  background-color: #0A192F;
  width: 30px;
  height:50vh;
  justify-content: space-between;
  gap:40px;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top:3px;

}



.icon{
color:#C1CBEB;
width: 90%;
height:33px
}

#mailLink{
  position: fixed;
  bottom:0;
  right: 3%;
  display:flex;
  flex-direction: column;
  background-color: #0A192F;
  width: 30px;
  height:50vh;
  justify-content: flex-start;
  gap:30px;

}

#mailRedac{
color:#C1CBEB;
writing-mode: vertical-rl;
text-orientation: mixed;
font-size: small;
height:50%;
align-self: center;

}

a:link{
  text-decoration: none;
}

#mailRedac:hover{
  transform: translateY(-3px);
  color: #61DAFB;
}

.icon:hover{
  transform: translateY(-3px);
  color: #61DAFB;  
  }
 
#page0{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5%;
  padding-top: 8%;
}

#hello{
  
  color: #61DAFB;
    font-family: var(--font-mono);
    font-size: large;
    font-weight: 400;
    text-align: left;
    

}

#whoAmI{
  margin-top: 10px;
  color:#C1CBEB;
  line-height: 0.9;
  font-size:52%;
  display: flex;
  flex-direction: column;
  text-align: left;
  height:15%;
  
}

#myId{
  color:#C1CBEB;
  line-height: 0.9;
  text-align: left;
  height: 50%;
}

#slogan{
  margin-top: 10px;
  color: var(--slate);
  line-height: 0.9;
  color:#c1cbeb66;
  text-align: left;
  margin-top: 3%;
  height: 50%;
}

#presentation{
  
  max-width: 540px;
  font-size: large;
  color:#C1CBEB;
  align-content: flex-start;
  text-align: left;
  margin-top: 2%;
}

#page1{
  font-size: large;
  color: white;
  width: 55vw;
  margin-top: 2%;
}


#corpus{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:40px;
  height:50%
 
}

#leftCorpus{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#apropos{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 95%;
}

.title{
  /* text-align: left;
  margin-bottom: 5%;
  margin-top: 4%;
  display: flex;
  flex-direction: row; */
  display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: xx-large;
    white-space: nowrap;
}

.title::after{
  content: '';
  display: block;
  position: relative;
  top: 15%;
  width: 250px;
  height: 1px;
  margin-left: 20px;
  background-color: #c1cbeb66;


}



.spanNumber{
  color:#61DAFB;
  margin-right: 2%;
}

.titleLine{
  /* border: 1px solid #61DAFB;
  width:40%;
  height: 0.1px;
  margin-left: 2%; */
 }

#photoProfil2{
  height: 35vh;
  width:35vh;
  position: relative;
  top:5%;
  z-index: 12;
  filter: sepia(100%) hue-rotate(150deg) saturate(500%);
}

#photoProfil2:hover{
  filter: none;
}

#cadre{
  border: 2px solid #61DAFB;
  height: 35vh;
  width:35vh;
  z-index: 1;
  position: relative;
  top: -40%;
  left:10%
}

#description{
  text-align: left;
}

#stackTechnique{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  
}

.colTech{
  text-align: left;
  
}

.colList{
  list-style: none;
  color:#c1cbeb66
}

.colList

li::before{
  content:">";
  color: #61DAFB;
  padding-right: 10px;

}

li:hover{
  color:white;
}