.App {
  text-align: center;
}

section{
  display: flex;
  width:100vw;
  background: #EEE;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  font-size: 10vw;
  border-bottom: 1px solid #666;
}

#navBar{
  background-color:green;
  display: flex;
  flex-direction: row;
  align-items:center
}

.ligneSommaire{
  display:inline;
  padding: 20px;
}